@page
@model homework_2.Pages.RestaurantModel
@{
}

<div>
    <h1>The Crimson Fork</h1>

    <p>
        A contemporary fine dining restaurant specializing in modern fusion cuisine. The Crimson Fork combines
        traditional flavors with avant-garde techniques, offering an elegant and immersive dining experience. Guests
        can enjoy a curated menu of seasonal dishes, paired with an extensive selection of wines from around the world.
    </p>
</div>