@page
@model homework_2.Pages.Task_05Model
@{
}

<div>
    <h2>Countries</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Num</th>
                <th scope="col">Country</th>
                <th scope="col">Capital</th>
                <th scope="col">Population (Millions)</th>
                <th scope="col">Official Language</th>
                <th scope="col">Currency</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Canada</td>
                <td>Ottawa</td>
                <td>38</td>
                <td>English, French</td>
                <td>Canadian Dollar (CAD)</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Japan</td>
                <td>Tokyo</td>
                <td>126</td>
                <td>Japanese</td>
                <td>Japanese Yen (JPY)</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Brazil</td>
                <td>Brasília</td>
                <td>213</td>
                <td>Portuguese</td>
                <td>Brazilian Real (BRL)</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Germany</td>
                <td>Berlin</td>
                <td>83</td>
                <td>German</td>
                <td>Euro (EUR)</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Australia</td>
                <td>Canberra</td>
                <td>26</td>
                <td>English</td>
                <td>Australian Dollar (AUD)</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>South Africa</td>
                <td>Pretoria, Cape Town, Bloemfontein</td>
                <td>60</td>
                <td>Afrikaans, English, Zulu, and 8 others</td>
                <td>South African Rand (ZAR)</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>India</td>
                <td>New Delhi</td>
                <td>1,417</td>
                <td>Hindi, English</td>
                <td>Indian Rupee (INR)</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Mexico</td>
                <td>Mexico City</td>
                <td>126</td>
                <td>Spanish</td>
                <td>Mexican Peso (MXN)</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Sweden</td>
                <td>Stockholm</td>
                <td>10</td>
                <td>Swedish</td>
                <td>Swedish Krona (SEK)</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Nigeria</td>
                <td>Abuja</td>
                <td>219</td>
                <td>English</td>
                <td>Nigerian Naira (NGN)</td>
            </tr>
        </tbody>
    </table>
</div>